<%%- model_class = @<%= resource_name %>.class -%>
<div class="page-header">
  <h1><%%=t ".title", default: t("helpers.titles.show", model: model_class.model_name.human,
                                title: " (id: #{@<%= resource_name %>.id})",
                                default: "#{model_class.model_name.human}") %></h1>
</div>
<%%= render "form" %>
